*{
    box-sizing: border-box;
}
.offer-card{
    height: 500px;
    width: 300px;
    margin:20px;
    box-shadow: 3px 6px 10px lightgray ;
    transition: 0.5s;
}
.offer-img img{
    width:100%;
}
.offer-info{
    padding: 5px;
}